.cont {
  padding-left: 2%;
  padding-right: 4%;
  margin-top: 3%;
}
.p-style {
  margin-left: 6%;
}
.radio-style {
  margin-left: 9%;
}

.form-mag {
  margin-top: 3%;
}
.f-mag {
  margin-top: 5%;
}
.field{
    background-color: transparent;
    width: 90%;
    height: 60%;
}
.p-add{
    margin-top: 1%;
    margin-bottom: 0%;
}
.address{
    margin-left: 1%;
    width: 94%;
}