<app-nav-bar></app-nav-bar>

<!-- Start your project here-->
<div class="container container-global cont-margin text-center">
  <h3 class="jaune text-left mx-4">Submit A Request</h3>
  <div class="container cont2">
    <!-- Default form register -->
    <form class="text-center p-2">

      <!-- Package Details-->
      <h4 class="mb-2 text-left title-form">Package Details</h4>
      <!-- row-item-->
      <div class="form-row mb-3">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="Number of Pieces">
        </div>
        <div class="col">
          <!-- Last name -->
          <input type="text" id="defaultRegisterFormLastName" class="form-control field-form1 field"
            placeholder="Total Weight">
          <p class="title-form sub-indication text-left">LBS</p>
        </div>
      </div>
      <!-- row-item-->
      <!-- row-item-->
      <div class="form-row mb-3">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="Height">
          <p class="title-form sub-indication text-left">Inches</p>
        </div>
        <div class="col">
          <!-- Last name -->
          <input type="text" id="defaultRegisterFormLastName" class="form-control field-form1 field"
            placeholder="Width">
          <p class="title-form sub-indication text-left">Inches</p>
        </div>
      </div>
      <!-- row-item-->
      <!-- row-item-->
      <div class="form-row mb-4">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="Depth">
          <p class="title-form sub-indication text-left">Inches</p>
        </div>
        <div class="col">
          <select class="form-control field-form1 field">
            <option selected>Type of Goods</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <!-- row-item-->
      <!-- Package Details-->

      <!-- package image-->
      <p class="text-left pack-img"><strong>PACKAGE IMAGES</strong></p>
      <div class="form-row mb-4">
        <i class="fas fa-plus-square fa-6x img-plus"></i>
        <i class="ml-2 fas fa-plus-square fa-6x img-plus"></i>
        <i class="ml-2 fas fa-plus-square fa-6x img-plus"></i>
        <i class="ml-2 fas fa-plus-square fa-6x img-plus"></i>
        <i class="ml-2 fas fa-plus-square fa-6x img-plus"></i>
      </div>
      <!-- package image-->


      <!-- Trips Details-->
      <h4 class="mb-2 text-left title-form">Trips Details</h4>
      <!-- row-item-->
      <div class="form-row mb-3">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="From">
          <p class="title-form sub-indication text-left">Departure city</p>
        </div>
        <div class="col">
          <!-- Last name -->
          <input type="text" id="defaultRegisterFormLastName" class="form-control field-form1 field" placeholder="To">
          <p class="title-form sub-indication text-left">Arrival city</p>
        </div>
      </div>
      <!-- row-item-->
      <!-- row-item-->
      <div class="form-row mb-4">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="Prefered departure Date">
          <p class="title-form sub-indication text-left">Date</p>
        </div>
        <div class="col">
          <select class="form-control field-form1 field">
            <option selected>Prefered Service Type</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <!-- row-item-->

      <!-- row-item-->
      <div class="form-row mb-4 form-group shadow-textarea">
        <label for="exampleFormControlTextarea6">Message</label>
        <textarea class="form-control field-form2 z-depth-1" id="exampleFormControlTextarea6" rows="3"
          placeholder="Tell us a little bit more about your package and provide us with all specific request"></textarea>
      </div>
      <!-- row-item-->

      <!-- Trips Details-->

    </form>
    <!-- Default form register -->
  </div>
  <button type="button" class="btn next-button btn-weith">Go</button>
</div>
<!-- Start your project here-->

<app-front-footer></app-front-footer>
