<app-nav-bar></app-nav-bar>

<!-- Start your project here-->
<div class="container container-global cont-margin text-center">
  <h3 class="jaune text-left mx-4">Carrier/Shipment details</h3>
  <div class="container cont2">
    <!-- Default form register -->
    <form class="text-center p-2">

      <!-- Package Details-->
      <h4 class="mb-2 text-left title-form">Package Details</h4>
      <!-- row-item-->
      <div class="form-row mb-3">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="Number of Pieces">
        </div>
        <div class="col">
          <!-- Last name -->
          <input type="text" id="defaultRegisterFormLastName" class="form-control field-form1 field"
            placeholder="Total Weight">
          <p class="title-form sub-indication text-left">LBS</p>
        </div>
      </div>
      <!-- row-item-->
      <!-- row-item-->
      <div class="form-row mb-3">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="Height">
          <p class="title-form sub-indication text-left">Inches</p>
        </div>
        <div class="col">
          <!-- Last name -->
          <input type="text" id="defaultRegisterFormLastName" class="form-control field-form1 field"
            placeholder="Width">
          <p class="title-form sub-indication text-left">Inches</p>
        </div>
      </div>
      <!-- row-item-->
      <!-- row-item-->
      <div class="form-row mb-4">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="Depth">
          <p class="title-form sub-indication text-left">Inches</p>
        </div>
        <div class="col">

        </div>
      </div>
      <!-- row-item-->
      <!-- Package Details-->


      <!-- Trips Details-->
      <h4 class="mb-2 text-left title-form">Trips Details</h4>
      <!-- row-item-->
      <div class="form-row mb-3">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="From">
            <p class="title-form sub-indication text-left">Departure city</p>
        </div>
        <div class="col">
          <!-- Last name -->
          <input type="text" id="defaultRegisterFormLastName" class="form-control field-form1 field"
            placeholder="To">
          <p class="title-form sub-indication text-left">Arrival city</p>
        </div>
      </div>
      <!-- row-item-->
      <!-- row-item-->
      <div class="form-row mb-4">
        <div class="col">
          <!-- First name -->
          <input type="text" id="defaultRegisterFormFirstName" class="form-control field-form1 field"
            placeholder="Prefered departure Date">
          <p class="title-form sub-indication text-left">Date</p>
        </div>
        <div class="col">

        </div>
      </div>
      <!-- row-item-->
      <!-- Trips Details-->

    </form>
    <!-- Default form register -->
  </div>
  <button type="button" class="btn next-button btn-weith" routerLink="/post-request-colis-2">Go</button>
</div>
<!-- Start your project here-->

<app-front-footer></app-front-footer>
