<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-9">
      <div class="card">
        <div class="card-header">
          DEPOSIT
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group text-center">
                <label for="ccnumber">Amount</label>
                <div class="input-group">
                  <input class="form-control" id="appendedInput" size="16" type="text">
                  <div class="input-group-append">
                    <span class="input-group-text">FCFA</span>
                  </div>
                </div>
              </div>
            </div>
          </div><br>
          <div class="row">
            <div class="tab">
              <button type="button" class="btn btn-brand mr-1" style="margin-bottom: 4px"
                onclick="openCity(event, 'mastercard')">
                <i class="fa fa-cc-mastercard" style="font-size:24px"></i>
                <span>Mastercard</span>
              </button>
              <button type="button" class="btn btn-brand mr-1" style="margin-bottom: 4px"
                onclick="openCity(event, 'paypal')">
                <i class="fa fa-paypal" style="font-size:24px"></i>
                <span>Paypal</span>
              </button>
              <button type="button" class="btn btn-brand mr-1" style="margin-bottom: 4px"
                onclick="openCity(event, 'visa')">
                <i class="fa fa-cc-visa" style="font-size:24px"></i>
                <span>VISA</span>
              </button>
              <button type="button" class="btn btn-brand mr-1" style="margin-bottom: 4px"
                onclick="openCity(event, 'orange-money')">
                <i style="font-size:10px; border: 3px solid;">OM</i>
                <span>Orange Money</span>
              </button>
              <button type="button" class="btn btn-brand mr-1" style="margin-bottom: 4px"
                onclick="openCity(event, 'mtn-money')">
                <i style="font-size:7px; border: 3px solid;">MoMo</i>
                <span>MTN Money</span>
              </button>
            </div>
            <!-- Tab content -->
            <div id="mastercard" class="tabcontent">
              <br><br>
              <h3>Mastercard</h3>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Enter your name">
                    </div>
                  </div>
                </div>
                <!--/.row-->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="ccnumber">Credit Card Number</label>
                      <input type="text" class="form-control" id="ccnumber" placeholder="0000 0000 0000 0000">
                    </div>
                  </div>
                </div>
                <!--/.row-->
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="ccmonth">Month</label>
                    <select class="form-control" id="ccmonth">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="ccyear">Year</label>
                    <select class="form-control" id="ccyear">
                      <option>2014</option>
                      <option>2015</option>
                      <option>2016</option>
                      <option>2017</option>
                      <option>2018</option>
                      <option>2019</option>
                      <option>2020</option>
                      <option>2021</option>
                      <option>2022</option>
                      <option>2023</option>
                      <option>2024</option>
                      <option>2025</option>
                    </select>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="cvv">CVV/CVC</label>
                      <input type="text" class="form-control" id="cvv" placeholder="123">
                    </div>
                  </div>
                  <br><br>
                  <div>
                    <button class="btn">Submit</button>
                  </div>
                </div>
                <!--/.row-->
              </div>
            </div>

            <div id="visa" class="tabcontent">
              <br><br>
              <h3>Visa</h3>
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" placeholder="Enter your name">
                    </div>
                  </div>
                </div>
                <!--/.row-->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label for="ccnumber">Credit Card Number</label>
                      <input type="text" class="form-control" id="ccnumber" placeholder="0000 0000 0000 0000">
                    </div>
                  </div>
                </div>
                <!--/.row-->
                <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="ccmonth">Month</label>
                    <select class="form-control" id="ccmonth">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10</option>
                      <option>11</option>
                      <option>12</option>
                    </select>
                  </div>
                  <div class="form-group col-sm-4">
                    <label for="ccyear">Year</label>
                    <select class="form-control" id="ccyear">
                      <option>2014</option>
                      <option>2015</option>
                      <option>2016</option>
                      <option>2017</option>
                      <option>2018</option>
                      <option>2019</option>
                      <option>2020</option>
                      <option>2021</option>
                      <option>2022</option>
                      <option>2023</option>
                      <option>2024</option>
                      <option>2025</option>
                    </select>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label for="cvv">CVV/CVC</label>
                      <input type="text" class="form-control" id="cvv" placeholder="123">
                    </div>
                  </div>
                  <br><br>
                  <div>
                    <button class="btn">Submit</button>
                  </div>
                </div>
                <!--/.row-->
              </div>
            </div>
            <div id="orange-money" class="tabcontent">
              <br><br>
              <h3>Orange Money</h3>
              <p>Select you country, enter your phone number and submit. Then, compose #150*44*793563#</p><br>
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="country">Country</label>
                  <select class="form-control" id="country">
                    <option>Cameroon</option>
                    <option>Nigeria</option>
                    <option>Tchad</option>
                    <option>South Africa</option>
                    <option>Congo</option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tel">Phone</label>
                    <input type="tel" class="form-control" id="tel" placeholder="Your Phone number">
                  </div>
                </div>
              </div>
              <!--/.row-->
              <br><br>
              <div>
                <button class="btn">Submit</button>
              </div>
            </div>
            <div id="paypal" class="tabcontent">
              <br><br>
              <h3>Paypal</h3>
              <form>
                <input valign="center" type="image" alt="Paiement par Paypal"
                  src=" https://www.paypal.com/fr_FR/i/bnr/horizontal_solution_PP.gif" name="submit"
                  alt="Paiement sécurisé par paypal" />
              </form>
            </div>
            <div id="mtn-money" class="tabcontent">
              <br><br>
              <h3>Mobile Money</h3>
              <p>Select you country, enter your phone number and submit.</p><br>
              <div class="row">
                <div class="form-group col-sm-4">
                  <label for="country">Country</label>
                  <select class="form-control" id="country">
                    <option>Cameroon</option>
                    <option>Nigeria</option>
                    <option>Tchad</option>
                    <option>South Africa</option>
                    <option>Congo</option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="tel">Phone</label>
                    <input type="tel" class="form-control" id="tel" placeholder="Your Phone number">
                  </div>
                </div>
              </div>
              <!--/.row-->
              <br><br>
              <div>
                <button class="btn">Submit</button>
              </div>
            </div>




          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="card text-center">
        <div class="card-header">
          Curent balance
        </div>
        <div class="card-body">
          <strong>5O 000,000</strong> <small>FCFA</small>
        </div>
      </div>
    </div>
  </div>
</div>
