<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h3 class="jaune text-left mx-4 mb-4">
            Carrier Profil
          </h3>
        </div>
        <div class="card-body align-content-center">
          <div class="col-md-12">
            <div class="col-xl-4 order-xl-2 mb-xl-0">
              <div class="card card-profile shadow">
                <div class="row">
                  <div class="col-lg-2 order-lg-2">
                    <div class="card-profile-image">
                      <img class="rounded-circle" src="{{userProfileImg}}" alt="..." />
                    </div>
                  </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                  <div class="text-center">
                    <div>
                      <span>
                        <span class="badge material-icons-profil black-text black">4.5</span>
                        <i class="fas fa-star jaune"></i>
                        <i class="fas fa-star jaune"></i>
                        <i class="fas fa-star jaune"></i>
                        <i class="fas fa-star jaune"></i>
                      </span>
                    </div>
                    <h3>
                      {{name}}
                    </h3>
                    <div class="h5 font-weight-300">
                      <i class="ni location_pin mr-2"></i>{{userName}}
                    </div>
                    <div class="h5 mt-4">
                      {{userPhone}}
                    </div>
                    <div>
                      {{userCountry}}
                    </div>
                    <br>
                    <hr class="my-4">
                    <p>{{userLabel}}</p>
                    <div class="text-center">
                      <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                      <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                      <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Company (disabled)</label>
                  <input type="text" class="form-control" disabled placeholder="Company" value="No Company">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Full Name</label><br>
                  <h3 class="border">{{firstName}} {{lastName}}</h3>
                </div>
              </div>
            </div><br><br>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Phone</label><br>
                  <h3 class="border">{{userPhone}}</h3>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email address</label><br>
                  <h3 class="border">{{userEmail}}</h3>
                </div>
              </div>
            </div><br><br>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>City</label><br>
                  <h3 class="border">{{userCity}}</h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Country</label><br>
                  <h3 class="border">{{userCountry}}</h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>ZIP</label><br>
                  <h3 class="border">{{userZip}}</h3>
                </div>
              </div>
            </div><br><br><br>

            <div class="col-sm-6 col-md-12">
              <div class="card">
                <h3 class="jaune">
                  Vehicles list</h3>
                <div class="card-body">
                  <table class="table table-bordered table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Status</th>
                        <th>Type</th>
                        <th>Brand</th>
                        <th>Registration date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          <span class="badge badge-success">Active</span>
                        </td>
                        <td>Car</td>
                        <td>Kia</td>
                        <td>2021/02/05</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="badge badge-danger">Inactive</span>
                        </td>
                        <td>Bus</td>
                        <td>Mercedes</td>
                        <td>2021/02/01</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="badge badge-danger">Inactive</span>
                        </td>
                        <td>Car</td>
                        <td>Ford</td>
                        <td>2021/01/15</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="badge badge-success">Active</span>
                        </td>
                        <td>Truck</td>
                        <td>Toyota</td>
                        <td>2021/01/02</td>
                      </tr>
                      <tr>
                        <td>
                          <span class="badge badge-success">Active</span>
                        </td>
                        <td>Coaster</td>
                        <td>Mercedes</td>
                        <td>2020/12/21</td>
                      </tr>
                    </tbody>
                  </table>
                  <nav>
                    <ul class="pagination pull-right">
                      <li class="page-item"><a class="page-link">Prev</a></li>
                      <li class="page-item active">
                        <a class="page-link">1</a>
                      </li>
                      <li class="page-item"><a class="page-link">2</a></li>
                      <li class="page-item"><a class="page-link">3</a></li>
                      <li class="page-item"><a class="page-link">Next</a></li>
                    </ul>
                  </nav>
                </div>

              </div>


            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
