<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-8">
            <div class="row">
                <div class="card">
                    <div class="header">
                        <h4 class="title">All Requests</h4>
                        <p class="category">In progress</p>
                    </div>
                    <div class="content">
                        <div class="ct-chart"></div>

                        <div class="footer">
                            <div class="legend">
                                <span>
                                    <i Class="fa fa-angle-double-down"></i>See more
                                </span>
                            </div>
                            <hr>
                            <div class="stats">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">My trips</h4>
                        <p class="category">In progress</p>
                    </div>
                    <div class="content">
                        <div class="ct-chart"></div>

                        <div class="footer">
                            <div class="legend">
                                <span>
                                    <i Class="fa fa-angle-double-down"></i>See more
                                </span>
                            </div>
                            <hr>
                            <div class="stats">
                                <i class="fa fa-clock-o"></i> started 2 hours ago
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">My requests</h4>
                        <p class="category">In progress</p>
                    </div>
                    <div class="content">
                        <div class="ct-chart"></div>

                        <div class="footer">
                            <div class="legend">
                                <span>
                                    <i Class="fa fa-angle-double-down"></i>See more
                                </span>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="header">
                        <h4 class="title">My Tasks</h4>
                        <p class="category"></p>
                    </div>
                    <div class="content">
                        <div class="table-full-width">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox1" type="checkbox">
                                                <label for="checkbox1">

                                                </label>
                                            </div>
                                        </td>
                                        <td>make 3 reservations for our trip to Yaounde</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task"
                                                class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove"
                                                class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox2" type="checkbox" checked>
                                                <label for="checkbox2">

                                                </label>
                                            </div>
                                        </td>
                                        <td>Send a package to Bamenda.</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task"
                                                class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove"
                                                class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox3" type="checkbox" checked>
                                                <label for="checkbox3">

                                                </label>
                                            </div>
                                        </td>
                                        <td>Pick up the package at the station.
                                        </td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task"
                                                class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove"
                                                class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox4" type="checkbox">
                                                <label for="checkbox4">

                                                </label>
                                            </div>
                                        </td>
                                        <td>Completed my Karry N Go registration</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task"
                                                class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove"
                                                class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="checkbox4" type="checkbox">
                                                <label for="checkbox4">

                                                </label>
                                            </div>
                                        </td>
                                        <td>Send a small package to Douala.</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task"
                                                class="btn btn-info btn-simple btn-xs">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove"
                                                class="btn btn-danger btn-simple btn-xs">
                                                <i class="fa fa-times"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="legend">
                            <span>
                                <i Class="fa fa-angle-double-down"></i>See more
                            </span>
                        </div>
                        <div class="footer">
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>