.container-deck{
    margin-top: 1%;
    margin-bottom: 2%;
}
.detail-card{
    margin-left: 15%;
}
.title-card{
    margin-top: 3%;
}

.badg_image{
    
}

.badg_image:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }