.btn-w {
  width: 25%;
}
.btn-w2 {
  width: 16%;
}
.cont-margin {
  padding-top: 3%;
  padding-bottom: 3%;
  width: 64%;
}
.title-style {
  margin-bottom: 6%;
}
.footer-registration {
  margin-top: 5%;
}
.skip-btn {
  background-color: rgb(245, 244, 201);
}
.cont {
  height: 540px;
}
.b-mag {
  margin-top: 20%;
}
