<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Services</h4>
                        <p class="category">Make a new services here</p>
                    </div>
                    <div class="content">
                        
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
