<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card"> <br><br><br>
        <h3 class="jaune text-center mx-4 mb-4" style="size: 10px;">
          Do you want to become a parcel carrier?
        </h3>
        <div class="card-body">
          <p class="text-center"><strong>
              To be part of the parcel carriers, you just have to register as such. It's that simple !</strong>
          </p>
          <br><br><br>
          <div class="center">
            <button type="button" class="btn btn-weith" (click)="open(content)">Become</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #content let-modal>
  <div class="card-header">
    <h4 class="modal-title jaune text-left mb-2" id="modal-basic-title">Become a parcel carrier</h4>
  </div>

  <div class="modal-body">
    <br>
    <div class="container cont2">
      <form  [formGroup]="beCarrierForm" (ngSubmit)="submit()" class="text-center p-2">
        <div class="form-row mb-4">
          <div class="col">
            <input type="text" id="field_brand" formControlName="field_brand" class="form-control field-form1 field"
              placeholder="Brand">
            <p class="title-form sub-indication text-left">Profile Carrier Name</p>
          </div>
          <div class="col">
            <input type="text" id="field_model" formControlName="field_model" class="form-control field-form1 field"
              placeholder="Model">
            <p class="title-form sub-indication text-left">Vehicle Model</p>
          </div>
        </div>
        <!-- row-item-->

        <!-- row-item-->
        <div class="form-row mb-4">
          <div class="form-group row">
            <div class="col-md-9">
              <p class="title-form sub-indication text-left">Idencation file</p>
              <input type="file" id="field_fieles" formControlName="field_fieles" name="file-multiple-input" multiple>
              <p class="title-form sub-indication text-left">Add one or multiple vehicle Fil</p>
            </div>
          </div>
        </div>
        <!-- row-item-->
      </form>
      </div>


    <br>
    <div class="modal-footer" *ngIf="!waitingPackageInformation">
      <button type="button" class="btn btn-danger" (click)="modal.dismiss('Cross click')">Cancel</button>
      <button type="button" class="btn btn-success" (click)="modal.close('Save click');showNotification('top','center', 'success', 'pe-7s-close-circle', '\<b>congratulations !\</b>\<br>You are now a parcel carrier.')">Confirm</button>
    </div>
  </div>
</ng-template>