.p-style {
}
.cont {
  padding-left: 0%;
  padding-right: 4%;
}
.d2 {
  margin-top: 4%;
}
.b-add-city {
  height: 16px;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-left: 63%;
}
.b-add-country {
  height: 25px;
  padding-top: 0%;
  padding-bottom: 0%;
  margin-top: 3%;
}
.chip {
  width: 100%;
}
.chip-mag {
  width: 100%;
}
.seach{
    width: 100%;
}
.modal-header{
    padding-left: 2%;
    padding-right: 2%;
}
