<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="jaune text-left mx-4 mb-4">
          Map
          </h3>
        </div>
        <div class="card-body">
          <div class="main-content">
            <iframe src="https://www.google.com/maps?q=&z=19&t=&ie=UTF8&output=embed" style="width: 1485px; height:855px;"></iframe><noscript> Full functionality of this site requires JavaScript to be enabled. Learn how to <a href="https://javascriptdownload.org/">Enable JavaScript</a> in your browser.</noscript>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>